<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130255528293-231t2ahpjaih79cqk1h03sm55tdtuag4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130255528293-231t2ahpjaih79cqk1h03sm55tdtuag4</string>
	<key>API_KEY</key>
	<string>AIzaSyDGUK_JKfy6RF6wAF4rXavEZnIc3_CJIYc</string>
	<key>GCM_SENDER_ID</key>
	<string>130255528293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartervision.ecommerceappuikit.ecommerceAppUiKit</string>
	<key>PROJECT_ID</key>
	<string>siyou-online-20370</string>
	<key>STORAGE_BUCKET</key>
	<string>siyou-online-20370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130255528293:ios:071b49efa838892140418c</string>
</dict>
</plist>